
button[type=aaa] { display: block;
    margin: 0 auto; }

.info {
    display: flex;
    justify-content: center;
}

.title {

}









::placeholder {
  color: grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}